@import "./common";

:root {
  --el-color-primary: green;
}

.selected-item {
  background-color: #ecfcec;
  border-left: 5px solid $itemSolidColor;
  padding: 10px;
  position: relative;
}
.selected-item-opt {
  //background-color: red;
  position: absolute;
  padding: 10px;
  bottom: -25px;
  right: 100px;
  display: flex;

  .opt-btn {
    width: 30px;
    height: 30px;
    line-height: 28px;
    background-size: 10%;
    border-radius: 50%;
    cursor: pointer;
  }

  .opt-btn-copy {
    background: #eff8f8 url("../assets/icon-copy.svg") no-repeat center;
    border: 1px solid #87a7d6;

    &:hover {
      background-color: #c9e3f6;
    }
  }

  .opt-btn-delete {
    background: #fce5e6 url("../assets/icon-delete.svg") no-repeat center;
    border: 1px solid #d81e06;
    margin-left: 20px;

    &:hover {
      background-color: #f8c7c8;
    }
  }
}
